@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

body{ 
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    /* Add your background pattern here */
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(rgba(253, 253, 253, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: relative;}
    body {
        background-image: url(https://images7.alphacoders.com/332/thumb-1920-332740.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: fantasy;
      }
      
      body * {
        text-align: center;
      }
      
      .descrizione {
        display: flex;
        justify-content: center;
        width: 100%;
        border: solid white 2px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
      }
      
      .testobianco {
        color: white;
      }
      
      .testorosso {
        color: red;
        font-family: serif;
        font-weight: bold;
      }
      
      .immagine img {
        width: 300px;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      
      .nav-link {
        color: white;
        font-size: 20px;
        font-family: serif;
        font-weight: bold;
      }
      
      .navbar {
        background-color: rgba(255, 0, 0, 0.5);
        padding: 0;
        border-bottom: 5px solid white;
      }
      
      .nav-link:not(:last-child) {
        color: green;
      }
      
      #menu {
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: 30px;
        width: 100%;
      }
      
      .banner img{
        display: block;
        justify-content: center;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      
      div a:hover {
        background-color: #AC0000;
        color: #FFFFFF;
        text-decoration: none;
      }
      
      #luffy {
        transition: transform.8s ease-in-out;
        background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/0d516c20-05f4-4e15-8aff-cf6aded257d3/dca21gp-4bbf4271-c21d-424f-9080-1a7e2ccf2649.jpg");
      
      }
      
      #luffy:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
      
      #zoro:not(:hover){
        background-image: url("https://i.pinimg.com/originals/b7/e8/50/b7e850df7ee4c2962d86275f7450af76.jpg");
      
      }
      #zoro:hover{
        animation: zoro 2s infinite alternate;
      
      }
      
      #nami {
        background-image: url("https://i.imgur.com/iWldHzJ.png");
      
      }
      
      #usopp {
        background-image: url("http://ilnuovomondoshop.it/790/one-piece-wanted-god-usopp.jpg");
      }
      
      #sanji {
        background-image: url("https://i.pinimg.com/originals/94/57/d1/9457d14b171d7bc24b68fdaa5e5c0269.jpg");
      }
      
      #chopper {
        background-image: url("https://i.pinimg.com/564x/5d/b7/4f/5db74fd043ccdd4dcac8384f6ff1088c.jpg");
      }
      
      #robin{
        background-image: url("https://i.pinimg.com/564x/d7/ce/fd/d7cefdf393deb9402e4a132a7138cc07.jpg");
      }
      
      #franky{
        background-image: url("https://i.pinimg.com/564x/9e/e4/a3/9ee4a3a517eb648b5181a6ce0006c165.jpg");
      }
      
      #brook{ background-image: url("https://i.pinimg.com/564x/78/9a/23/789a2326bab25dfd6e381320d13c27dc.jpg")
      }
      
      #jimbe{
        background-image: url("https://i.pinimg.com/564x/7c/f9/b1/7cf9b193f4ab410efad4c20b3558c15f.jpg");
      }
      @keyframes zoro {
        0% {
          background-image: url("https://i.pinimg.com/originals/b7/e8/50/b7e850df7ee4c2962d86275f7450af76.jpg");
      
        }
      
      
        100% {
          background-image: url("https://media0.giphy.com/media/DQ4PoTOkJIStO/giphy.gif?cid=3640f6095c4afe687748744c4965f4bc");
      
        }
      }
      .immagine{
        height: 300px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      
      }
      
